{% extends "base.html" %}

{% block title %}Users{% endblock %}


{% block body %}
<div class="container mt-4">
    {%if current_user.email == "admin"%}
        <br>
        <h3>Users:</h3>
        
        <div class="row mt-3">
            {%for user in users%}
                {%if user.email != "admin"%}
                    <div class="col-md-3">
                        <a href="{{url_for('scores', uid=user.id)}}" class="text-decoration-none">
                        <div class="card bg-dark text-white rounded-lg card-hover mt-3">
                            <div class="card-body">
                                <h5 class="card-title">{{user.name}}</h5>
                            </div>
                        </div>
                        </a>        
                    </div>
                {%endif%}
            {%endfor%}
        </div>
    {%endif%}
</div>
{% endblock %}